/** Common styles **/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: "Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji",sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #252423
}

.user-avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

#header-strip {
    background-color: #464775;
    height: 3.5rem;
    width: 100%;
    display: flex;
}

/*#logged-in-user-user-avatar-container {*/
/*    right: 0;*/
/*    margin-top: 0.5vh;*/
/*    margin-right: 1.5vh;*/
/*}*/

#conversations {
    overflow: scroll;
}

.conversation {
    padding: 0.5vw;
}

.conversation .user-avatar {
    margin: 0.5rem;
}

.conversation-content {
    margin-top: 0.5rem;
}

.active-conversation {
    background-color: #edebe9;
}

.conversation-content-sender {
    font-weight: bold;
}

#current-conversation-container {
    background-color: #f3f2f1;
}
#conversation-header {
    height: 4rem;
    background-color: #f3f2f1;
    border-bottom: 1px solid silver;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2);
}

#conversation-header .user-avatar {
    margin: 1rem;
}

#current-conversation-title {
    font-size: 17px;
    font-weight: bold;
}

#conversation-messages {
    display: inline-grid;
    margin-top: 1rem;
    /*overflow: scroll ;*/
}

.conversation-message {
    font-size: 16px;
    margin-top: 0.2rem;
    border-radius: 2px;
}

.incoming-message {
    margin-left: 10vh;
    background-color: #ffffff;
    float: left
}

.outgoing-message {
    margin-left: 80vh;
    background-color: #e5e5f1;
    float: right
}

/** Flex styling **/

#main-content {
    display: flex;
    height: calc(100vh - 3.5rem);
}

#conversations {
    flex: 1;
}

#current-conversation-container {
    flex: 2;
}

.conversation {
    display: flex;
}

.conversation-content {
    flex: 1;
}

#conversation-header {
    display: flex;
    align-items: center;
}

#header-strip {
    align-items: center;
    justify-content: space-between;
}

#left-empty {
    flex: 1;
}

#search-box {
    flex:1;
    line-height: 2rem;
}

#search-input {
    background-color: #edebe9;
    width: 100%;
    border-radius: 0.2rem;
    padding-left: 1rem;
}

#logged-in-user-user-avatar-container {
    flex: 1;
    display: flex;
}

#logged-in-user-user-avatar-container .user-avatar {
    margin-left: auto;
    margin-right: 1rem;
}

#logged-in-user-avatar-left-empty {
    flex: 3
}

#logged-in-user-avatar {
    display: flex;
}